<launch>
    <!-- no terminal spawning
      
    <node pkg="coalas_pkg" name="udoo_delegator" type="udoo_delegator" />
    
    <node pkg="coalas_pkg" name="arduino_serial" type="arduino_serial" />
     -->

    <!-- ignore

    <node pkg="coalas_pkg" name="arduino_serial" type="arduino_serial"  output="screen" launch-prefix="gnome-terminal -e"   />

    -->

    <!-- with seperate terminals -->

  
    
    <node pkg="coalas_pkg" name="udoo_delegator" type="udoo_delegator"  output="screen" launch-prefix="gnome-terminal -e"   />
    
 output="screen" launch-prefix="gnome-terminal -e"   
    
</launch>

